<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
		http://www.springframework.org/schema/util
		http://www.springframework.org/schema/util/spring-util-3.1.xsd
		http://www.springframework.org/schema/jee
		http://www.springframework.org/schema/jee/spring-jee-3.1.xsd"
	default-autowire="byName">

	<!-- ========================= DATASOURCE DEFINITION ========================= -->
	
	<!-- Properties -->
	<util:properties id="envProp" location="classpath:config/env.properties" />

	<!-- JNDI DataSource for JEE environments-->
	<!-- jee:jndi-lookup id="dataSource" jndi-name="#{envProp['openapi.jdbc.jndi.name']}" / -->
	<jee:jndi-lookup id="dataSource" jndi-name="oa" resource-ref="true"/>
	
	
	<!-- <bean id="dataSource" class="org.apache.tomcat.dbcp.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="#{envProp['openapi.jdbc.driverClassName']}" />
		<property name="url" value="#{envProp['openapi.jdbc.url']}" />
		<property name="username" value="#{envProp['openapi.jdbc.username']}" />
		<property name="password" value="#{envProp['openapi.jdbc.password']}" />
		<property name="maxActive" value="20" />
		<property name="maxIdle" value="10" />
		<property name="maxWait" value="60000" />
		<property name="validationQuery" value="SELECT 1 FROM DUAL" />
		<property name="removeAbandoned" value="true" />
		<property name="removeAbandonedTimeout" value="6000" />
		<property name="testOnBorrow" value="true" />
		<property name="testWhileIdle" value="true" />
		<property name="timeBetweenEvictionRunsMillis" value="60000" />
		<property name="minEvictableIdleTimeMillis" value="3600000" />
	</bean> -->

	<!-- TransactionManager -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- enable the configuration of transactional behavior based on annotations -->
	<tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true" />

	<!-- ========================= myBatis DEFINITION ========================= -->

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="typeAliasesPackage" value="com.openapi.domain" />
		<property name="configLocation" value="classpath:config/mybatis-config.xml" />
		<property name="mapperLocations" value="classpath:com/openapi/sql/**/*.xml" />
	</bean>

	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactory" />
	</bean>

	<bean id="myBatisMapperScanner" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.openapi.mapper" />
		<property name="annotationClass" value="org.springframework.stereotype.Repository" />
	</bean>

</beans>